/* Contact */
.contact {
  padding-bottom: 40px;
}

.contact__row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.contact__row__content {
}
.contact__row-badge {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact__row-title {
  font-size: 55px;
}
.contact__row__description {
  padding: 20px 0px 0px 60px;
}
.contact__row-explanation {
  max-width: 650px;
  font-size: 14px;
  text-align: center;
}

.contact__colums {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.contact__colums__item {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  max-width: 300px;
  margin: 1rem;
}

.contact__colums__subtitle {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--blue);
}
label,
.colums__item-content {
  font-weight: 500;
}

input {
  margin: 10px 0px 10px 0px;
  padding: 5px;
  border-radius: 5px;
  background-color: #cecece6d;
  width: 100%;
}

textarea {
  margin: 10px 0px 10px 0px;
  max-width: 300px;
  resize: none;
  padding: 10px;
  width: 100%;
  outline: none;
  border: 1px solid #999;
  border-radius: 5px;
}

.colums__item-content > ul {
  margin-bottom: 20px;
}
.colums__item-img__wrapper {
  position: relative;
  padding-bottom: 127%;
}
.colums__item-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Media */
@media (max-width: 1269px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1000px) {
}

@media (max-width: 850px) {
  .contact__row-title {
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
  }

  .contact__row__description {
    padding: 0px 15px 0px 15px;
  }
  .contact__row-badge {
    font-size: 16px;
    font-weight: 600;
  }
}

@media (max-width: 640px) {
  .contact__row__description {
    padding: 0px 0px 0px 0px;
  }
}
